/* ---------- Variables ---------- */

$primaryColor: #121127;
$accentColor: #444BD3;
$lightColor: #fff;
$sliderLightColor: #FFF0F5;
$sliderDarkColor: #9D097C;

/* ---------- Reset styles ---------- */

/* Links */

a {
    color: #000;

    &,
    &:link,
    &:visited,
    &:hover {
        text-decoration: none;
    }
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins";
}

ul {

    &,
    & li {
        list-style: none;
    }
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    font-family: "Poppins";
}

input::-ms-clear {
    display: none;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

/* ---------- Global styles ---------- */

* {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

body {
    font-family: 'Poppins';
    font-weight: 400;
    color: $primaryColor;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.button {
    color: $lightColor;
    background-color: $accentColor;
    border: 1px solid $accentColor;
    font-size: 14px;
    height: 40px;
    padding: 0 24px;
    transition: .4s;
    border-radius: 6px;

    &:hover {
        color: $accentColor;
        background-color: transparent;
    }

    &--transparent {
        font-size: 14px;
        height: 40px;
        padding: 0 24px;
        transition: .4s;
        border-radius: 6px;
        background-color: transparent;
        border: 1px solid transparent;
        color: $primaryColor;

        &:hover {
            color: $accentColor;
            border: 1px solid $accentColor;
        }
    }

    &--light {
        color: $accentColor;
        background-color: $lightColor;

        &:hover {
            color: $lightColor;
            background-color: transparent;
            border: 1px solid $lightColor;
        }
    }
}

.title {
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
}

.pretitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 170%;
    text-transform: uppercase;
    letter-spacing: .8px;
    color: $accentColor;
}

/* ---------- Header styles ---------- */

.header {
    padding: 32px 0;

    &-inner {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &-buttons {
        margin-left: auto;
    }

    &-menu {
        display: flex;
        align-items: center;
        gap: 48px;

        &__item {
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            opacity: .72;
            transition: .3s;

            &:hover {
                color: $accentColor;
                opacity: 1;
            }
        }
    }
}

/* ---------- Hero styles ---------- */

.hero {
    padding: 88px 0 163px;

    &-header {
        text-align: center;
        position: relative;

        &__title {
            font-weight: 700;
            font-size: 56px;
            line-height: 120%;
            margin-bottom: 20px;
        }

        &__description {
            opacity: .72;
            font-size: 20px;
            line-height: 180%;
        }

        &__diagramma {
            position: absolute;
            top: 20%;
            left: 0;
        }

        &__memoji {
            position: absolute;
            right: 0;
            bottom: 30%;
        }
    }

    &-video {
        position: relative;
        max-width: 744px;
        margin: 72px auto 0 auto;

        &-voucher {
            position: absolute;
            z-index: -1;
            top: -50px;
            left: -145px;
            box-shadow: 0 40px 80px 0 #00000014;
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 14px 19px;
            border-radius: 12px;
            background-color: #fff;

            &__icon {
                width: 49px;
                height: 49px;
                border-radius: 100px;
                background: linear-gradient(#F78291, #E75C6B);
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &-data {
                display: flex;
                flex-direction: column;
                gap: 7px;

                &__title {
                    font-size: 17px;
                    line-height: 120%;
                    font-weight: 700;
                }

                &__price {
                    color: #8B898F;
                    font-size: 11px;
                    line-height: 110%;
                }
            }
        }

        &__arrow {
            width: 104px;
            height: 126px;
            position: absolute;
            left: -150px;
            bottom: -100px;
            background: url('../img/arrow-icon.svg') no-repeat center center / cover;
        }

        &-team {
            position: absolute;
            z-index: 1;
            bottom: -60px;
            right: -186px;
            box-shadow: 0 40px 80px 0 #00000014;
            display: flex;
            flex-direction: column;
            gap: 19px;
            padding: 21px 22px;
            border-radius: 12px;
            background-color: #fff;

            &-header {
                display: flex;
                align-items: center;
                gap: 12px;

                &__icon {
                    width: 42px;
                    height: 42px;
                    border-radius: 100px;
                    background-color: #FFBB24;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &-data {

                    &__title {
                        font-size: 17px;
                        line-height: 120%;
                        font-weight: 700;
                    }

                    &__total {
                        color: #8B898F;
                        font-size: 11px;
                        line-height: 110%;
                    }

                }

            }

            &-body {
                &__image {
                    max-width: 106px;
                }
            }
        }
    }
}

.plyr--video.plyr--stopped .plyr__controls,
.plyr--video.plyr--paused .plyr__controls {
    opacity: 0;
}

.plyr--video.plyr--stopped .plyr__controls button,
.plyr--video.plyr--paused .plyr__controls button {
    pointer-events: none;
}

.plyr {
    border-radius: 16px;

    & .plyr__control--overlaid {
        width: 72px;
        height: 72px;
        background: #fff url('../img/play-icon.svg') no-repeat 55% center / 30%;
        opacity: 1;

        &:hover {
            background: #fff url('../img/play-icon.svg') no-repeat 55% center / 30%;
            opacity: .8;
        }

        & svg {
            display: none;
        }
    }
}

/* ---------- Creative styles ---------- */

.creative {
    padding: 24px 0 96px;

    &-slider {
        padding: 20px;
        margin: 0 -20px;

        &-controls {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
            margin-top: 40px;
        }

        &-pagination {
            width: fit-content !important;
            display: flex;
            align-items: center;
            gap: 8px;

            .swiper-pagination-bullet {
                width: 4px;
                height: 4px;
                margin: 0 !important;
                transition: .3s;
            }

            .swiper-pagination-bullet-active {
                width: 24px;
                height: 24px;
                border: 1px solid $sliderDarkColor;
                background-color: transparent;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 8px;
                    height: 8px;
                    background-color: $sliderDarkColor;
                    border-radius: 100px;
                }
            }
        }

        &-button-prev,
        &-button-next {
            width: 40px;
            height: 40px;
            background-color: $sliderLightColor;
            background-position: center center;
            background-repeat: no-repeat;
            border-radius: 100px;
            transition: .3s;

            &:hover {
                scale: 1.1;
            }
        }

        &-button-prev {
            background-image: url('../img/arrow-left.svg');
        }

        &-button-next {
            background-image: url('../img/arrow-right.svg');
        }

        &-slide {
            padding: 56px 24px;
            border-radius: 12px;
            box-shadow: 0 10px 10px 0 #12112714;

            &__icon {
                margin-bottom: 24px;
            }

            &__title {
                font-weight: 700;
                font-size: 16px;
                line-height: 140%;
                margin-bottom: 16px;
            }

            &__description {
                line-height: 180%;
                font-size: 14px;
                opacity: .56;
            }
        }
    }
}

/* ---------- Revenue styles ---------- */

.revenue {
    background-color: #F9F9FB;
    padding: 96px 0;

    &-items {
        display: flex;
        gap: 120px;
        margin-top: 40px;
    }

    &-item {
        max-width: 456px;

        &__title {
            font-size: 20px;
            font-weight: 500;
            line-height: 140%;
            color: $accentColor;
            margin-bottom: 12px;
        }

        &__description {
            color: $primaryColor;
            opacity: .56;
            font-size: 16px;
            line-height: 180%;
            margin-bottom: 32px;
        }

        &__image {
            box-shadow: 0 7px 30px 0 #1211271F;

            &-wrapper {
                position: relative;
            }

            &-label {
                position: absolute;
                max-width: 196px;
                right: -96px;
                bottom: 36px;
            }
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-top: 32px;

            & li {
                font-size: 14px;
                line-height: 180%;
                position: relative;
                padding-left: 30px;

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    display: block;
                    width: 17px;
                    height: 17px;
                    border-radius: 100px;
                    background: #90ECF4 url('../img/check-icon.svg') no-repeat center center / 50%;
                }
            }
        }
    }
}

/* ---------- Price styles ---------- */

.price {
    padding: 60px 0;

    &-inner {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    &-text {
        flex: 1;

        &__title {
            font-weight: 700;
            font-size: 32px;
            line-height: 140%;
            margin-bottom: 8px;

            & span {
                color: $accentColor;
            }
        }

        &__description {
            opacity: .56;
            font-size: 18px;
            line-height: 180%;
        }
    }

    &__button {
        height: 52px;
        text-transform: capitalize;
    }
}

/* ---------- Registration styles ---------- */

.registration {
    padding: 96px 0;
    background-color: $accentColor;

    &-inner {
        max-width: 744px;
        margin: 0 auto;
        text-align: center;
        color: #fff;
    }

    &__title {
        font-weight: 700;
        font-size: 44px;
        line-height: 140%;
        margin-bottom: 20px;
    }

    &__description {
        opacity: .56;
        font-size: 20px;
        line-height: 180%;
        margin-bottom: 20px;
    }

    &__button {
        height: 52px;
    }
}

/* ---------- Footer styles ---------- */

.footer {
    padding-top: 56px;

    &-top {
        display: grid;
        gap: 30px;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    }

    &__description {
        opacity: .56;
        font-size: 14px;
        line-height: 180%;
        margin: 24px 0;
    }

    &-socials {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    &-column {
        &__title {
            opacity: .4;
            font-size: 14px;
            font-weight: 600;
            line-height: 170%;
            letter-spacing: .8px;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        &-menu {
            display: flex;
            flex-direction: column;
            gap: 8px;

            &__item {
                font-size: 14px;
                line-height: 180%;
            }
        }
    }

    &-bottom {
        border-top: 1px solid #1211271F;
        padding: 37px 0 40px;
        margin-top: 70px;
        opacity: .56;
        font-size: 16px;
        line-height: 180%;
        text-align: center;
    }
}

/* ---------- Popup styles ---------- */

.popup-wrapper {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    backdrop-filter: blur(10px);
    display: grid;
    place-items: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    overflow-y: auto;

    &.popup-wrapper-show {
        visibility: visible;
        opacity: 1;

        & .popup {
            transform: translateY(0);
        }
    }
}

.popup {
    font-family: sans-serif;
    background-color: #fff;
    width: 100%;
    max-width: 950px;
    margin: 20px auto;
    position: relative;
    transition: 0.3s;
    transform: translateY(-50%);
    border-radius: 24px;
    box-shadow: 0 20px 80px 0 #00000033;

    &__close {
        position: absolute;
        top: 18px;
        right: 23px;
        width: 60px;
        height: 60px;
        border: 1px solid #D9D9D9;
        background: #D9D9D9 url('../img/close-icon.svg') no-repeat center center / 34%;
        padding: 0;
        cursor: pointer;
        border-radius: 100px;
        transition: .3s;

        &:hover {
            background-color: #000;
            border: 1px solid #000;
        }
    }

    &-image {
        &__item {
            border-radius: 0 24px 24px 0;
            height: 100%;
            object-fit: cover;
        }
    }

    &-body {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &-action {
        padding: 130px 60px 110px 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;

        &__logotype {
            margin-bottom: 31px;
        }

        &__title {
            font-weight: 600;
            font-size: 40px;
            line-height: 120%;
            margin-bottom: 13px;
        }

        &__description {
            font-weight: 600;
            font-size: 20px;
            line-height: 120%;
            text-align: center;
            margin-bottom: 39px;
        }

        &-form {
            display: flex;
            flex-direction: column;
            gap: 30px;

            &__field {
                width: 100%;
                height: 50px;
                border: 1px solid #D9D9D9;
                border-radius: 10px;
                font-weight: 400;
                font-size: 20px;
                padding: 0 20px;

                &::placeholder {
                    color: #898989;
                }
            }

            &__button {
                width: 100%;
                height: 50px;
                background: #000;
                color: #fff;
                font-size: 20px;
                font-weight: 600;
                border-radius: 10px;
                border: 1px solid #000;
                transition: .3s;

                &:hover {
                    background-color: transparent;
                    color: #000;
                }
            }

            &__policy {
                font-size: 15px;
                line-height: 120%;
                color: #8D8D8D;

                & a {
                    color: #8D8D8D;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}