/* ---------- Variables ---------- */

$primaryColor: #121127;
$accentColor: #444BD3;
$lightColor: #fff;

/* ---------- Reset styles ---------- */

/* Links */

a {
    color: #000;

    &,
    &:link,
    &:visited,
    &:hover {
        text-decoration: none;
    }
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins";
}

ul {

    &,
    & li {
        list-style: none;
    }
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

/* ---------- Global styles ---------- */

* {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;

    &::before,
    &::after {
        box-sizing: border-box;
    }
}

body {
    font-family: 'Poppins';
    font-weight: 400;
}

.container {
    max-width: 1128px;
    padding: 0 15px;
    margin: 0 auto;
}

.button {
    color: $lightColor;
    background-color: $accentColor;
    border: 1px solid $accentColor;
    font-size: 14px;
    height: 40px;
    padding: 0 24px;
    transition: .4s;
    border-radius: 6px;

    &:hover {
        color: $accentColor;
        background-color: transparent;
    }

    &--transparent {
        font-size: 14px;
        height: 40px;
        padding: 0 24px;
        transition: .4s;
        border-radius: 6px;
        background-color: transparent;
        border: 1px solid transparent;
        color: $primaryColor;

        &:hover {
            color: $accentColor;
            border: 1px solid $accentColor;
        }
    }

    &--light {
        color: $accentColor;
        background-color: $lightColor;

        &:hover {
            color: $lightColor;
            background-color: transparent;
            border: 1px solid $lightColor;
        }
    }
}

/* ---------- Header styles ---------- */

.header {
    padding: 32px 0;

    &-inner {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &-buttons {
        margin-left: auto;
    }

    &-menu {
        display: flex;
        align-items: center;
        gap: 48px;

        &__item {
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            opacity: .72;
            transition: .3s;

            &:hover {
                color: $accentColor;
                opacity: 1;
            }
        }
    }
}